 
    div{
        padding: 30px;
        margin: 20px;
      border: solid black 5px;
    }
    .hh
    {
        background-color: chartreuse;
    }
    .ii{
     background-color: aqua;
    }
    .jj{
        background-color: darkorchid;
    }
    #a{
        position: sticky;
        top: 50px;
     
     
    }
    #b{
        position: sticky;
      top: 50px;
     
    
    }
    #c{
        position: sticky;
      top: 50px;
     
    
    }
    #d{
        position: sticky;
      top: 50px;
    
    }
    #e{
        position: relative;
      top: 50px;
      
    
    }
